
body{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.container{
  background-image: url("./Components/images/headerImage.jpg");
  max-width: auto;
  margin: 30px auto;
  overflow: auto;
  min-height: 500px;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
}

.header{
  background-color: rgba(127, 255, 212, 0.205);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button{
  display:inline-block;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
  background: rgb(252, 5, 5);
  color:aliceblue;
  padding: 20px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin: 10px
}



.button-block {
  display: flex;
  width: 35%;
}

.trip-form{
  background: rgb(235, 236, 169 , 0.3);
  margin: 5px;
  padding: 10px 20px;
  font-size: large;
}

.form-control{
  background-color: inherit;
  margin: 20px;
}

.form-control label {
  background-color: rgba(240, 255, 255, 0.486);
  color: aqua;
  display: block;
  font-size: 18px;
  width:35%;
}

.form-control input {
  font-size: 18px;
  width: 35%;
  margin: 5px;
  height: 30px;
  padding: 3px 5px;
  border: solid 5px grey ;
}

.date input{
  width: 35%;
}

.submitBtn{
  display:block;
  width: auto;
  border-radius: 15px;
  padding: 10px;
  height: 3em;
  background-color: blue;
  color: rgb(250, 234, 4);
  font-size: large;
  margin-left: 5%;
}

.pack-form{
  background-color: rgba(203, 247, 232, 0.685);
  margin: 10px;
  padding: 10px;
}

#item-list{
  min-width: 600px;
  min-height: 200px;
}

table{
  border: 2px , solid , rgb(80, 77, 77);
  border-collapse: collapse;
  padding: auto;
}


table th{
  border: 1px solid black;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

table td {
  border: 1px solid black;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  
}